@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* font-family: "Quicksand", serif; */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Raleway", serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header area Style */
.header-container{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-family: "Quicksand", serif;
}

.menu-item ul{
    display: flex;
}

.menu-items{
    margin-left: 32px;
    list-style-type: none;
}

.menu-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.item-1{
    color: #FEA301;
}

.item-2{
    color: #01ACFD;
}

.item-3{
    color: #05D4DF;
}

.item-4{
    color: #5D58EF;
}

.contact-btn {
    background-color: #FEA301;
    border: 2px solid #FEA301;
    padding: 10px 60px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
    animation: ani 1.5s ease-in-out infinite;
    transition: transform 1s ease-in-out, background-color 1s ease-in-out, color 1s ease-in-out, border 1s ease-in-out; /* Smooth hover effect */
}

.contact-btn:hover {
    background-color: rgba(254, 163, 1, 0.1);
    border: 2px dashed #FEA301;
    color: #FEA301;
}

@keyframes ani {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.menu-icon{
    display: none;
}


marquee{
    font-size: 2rem;
    font-family: "Quicksand", serif;
}
/* Header Menu area End */


.banner-container{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    font-family: "Quicksand", serif;
}

.content-section{
    max-width: 50%;
}

.banner-image{
    max-width: 50%;
    margin: 0 auto;
}
.banner-image img{
    max-width: 100%;
}

.banner-heading{
    font-size: 3.625rem;
}
.orange{
    color:#FEA301;
}
.sky-blue{
    color: #01ACFD;
}
.banner-desciption{
    font-size: 1.25rem;
    color: #111111;
    margin-top: 24px;
}
.banner-btn{
    padding: 10px 60px 10px 60px;
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 12px;
    font-size: 1.25rem;
    margin-top: 24px;
    cursor: pointer;
    animation: ani 1.5s ease-in-out infinite;
}

/* Header Banner Area End */
.curriculum-area{
    margin-top: 60px;
    background-image: url("assets/bg.png"); 
}
.curriculum-heading > h1{
    text-align: center;
    font-size: 2.875rem;
    font-family: "Quicksand", serif;
}

.curriculum-section{
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 80px;
    gap: 28px;
}

.curriculum-box-1{
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    height: 480px;
    /* width: 370px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px; 
    padding: 20px;
    text-align: center;
}

.curriculum-box-2{
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    height: 480px;
    /* width: 370px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 20px;
    text-align: center;
}

.curriculum-box-3 {
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    height: 480px;
    /* width: 370px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 20px;
    text-align: center;
}

.curriculum-heading{
    font-family: "Quicksand", serif;
    font-size: 1.5rem;
    color: #202020;
}
.curriculum-paragraph{
    font-style: 1rem;
    line-height: 28px;
    font-family: "Raleway", serif;
    font-weight: 500;
    color: #808080;
}

.curriculum-link-1{
    font-size: 1rem;
    font-family: "Quicksand", serif;
    font-weight: 700;
    color: #64C8FF;
    text-decoration: none;
}

.curriculum-link-2{
    font-size: 1rem;
    font-family: "Quicksand", serif;
    font-weight: 700;
    color: #F0AA00;
    text-decoration: none;
}

.curriculum-link-3{
    font-size: 1rem;
    font-family: "Quicksand", serif;
    font-weight: 700;
    color: #8700FF;
    text-decoration: none;
}

.arrow-section{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 60px;
}
.part-1, .part-2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FEA301;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-less-than, .fa-greater-than{
    color: #fff;
    gap: 10px;
}
/* Curriculum Section Style End */

.stories-section{
    background: url("assets/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    padding-bottom: 60px;
    /* background-repeat: no-repeat; */
    background-size: contain;
}

.stories-heading > h1{
    text-align: center;
    font-size: 2.875rem;
    font-family: "Quicksand", serif;
    margin-top: 60px;
    margin-bottom: 80px;
}

.stories-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.big-box{
    max-width: 50%;
    background-color: #fff;
    border-radius: 10px;
}

.stories-image img{
    width: 100%;
    border-radius: 10px;
}

.content-container{
    padding: 0 40px 40px 40px;
}

.content-container h3{
    /* margin-top: 40px; */
}

.image-box{
    background-color: #fff;
    border-radius: 16px;
}

.stories-btn{
    padding: 15px 20px 15px 20px;
    border-radius: 47px;
    background-color: #3CD8E8;
    border: none;
    position: relative;
    top: -30px;
    margin: 0;
    margin-left: 40px;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: "Raleway", serif;
    cursor: pointer;
    animation: ani 1.5s ease-in-out infinite;
}

.stories-btn-v2{
    padding: 15px 20px 15px 20px;
    border-radius: 47px;
    background-color: #95B226;
    border: none;
    position: relative;
    top: -30px;
    margin: 0;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: "Raleway", serif;
    cursor: pointer;
    animation: ani 1.5s ease-in-out infinite;
}

.stories-btn-v3{
    padding: 15px 20px 15px 20px;
    border-radius: 47px;
    background-color: #5D58F0;
    border: none;
    position: relative;
    top: -30px;
    margin: 0;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: "Raleway", serif;
    cursor: pointer;
    animation: ani 1.5s ease-in-out infinite;
}

.stories-btn-v4{
    padding: 15px 20px 15px 20px;
    border-radius: 47px;
    background-color: #95B226;
    border: none;
    position: relative;
    top: -30px;
    margin: 0;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: "Raleway", serif;
    cursor: pointer;
    animation: ani 1.5s ease-in-out infinite;
}

.stories-btn-v5{
    padding: 15px 20px 15px 20px;
    border-radius: 47px;
    background-color: #5D58F0;
    border: none;
    position: relative;
    top: -30px;
    margin: 0;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: "Raleway", serif;
    cursor: pointer;
    animation: ani 1.5s ease-in-out infinite;
}

.stories-heding{
    font-family: "Quicksand", serif;
    font-size: 1.5rem;
}

.stories-description{
    color: #666666;
    font-size: 1rem;
    font-family: "Raleway", serif;
    line-height: 28px;
    margin-top: 28px;
}

.image-box-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 50%;
}

.view-btn{
    padding: 10px 60px 10px 60px;
    background-color: #111111;
    font-family: "Quicksand", serif;
    color: #fff;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    animation: ani 1.5s ease-in-out infinite;
}
.view-btn-area{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}
/* Stories Section End */

.footer-box{
    background-color: #01ACFD;
}
.footer-container{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    color: #fff;
    padding: 120px;
    font-family: "Quicksand", serif;
    align-items: flex-start;
}

.footer-content{
    max-width: 33%;
}

.footer-menu{
    max-width: 33%;
}

.footer-social-icon{
    max-width: 33%;
}

.footer-logo{
    display: inline-block;
}

.footer-logo img{
    /* max-width: 100%; */
    width: 80px;
}

.kids-education{
    display: inline-block;
    font-size: 2.625rem;
    line-height: 40px;
}

.kids-description{
    font-size: 1.25rem;
    line-height: 25px;
    font-weight: 400;
    margin-top: 35px;
    font-family: "Quicksand", serif;
}
.kids-about{
    font-size: 1.5rem;
    font-weight: 700;
}

.footer-touch{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.footer-menu ul{
    margin-top: 32px;
}
.footer-item{
    margin-top: 20px;
    list-style-type: none;
}
.footer-link{
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
}

.icon-container{
    margin-top: 32px;
}

.icon-container img{
    max-width: 100%;
    margin-left: 10px;
}

/* Responsive area style */

@media screen and (max-width: 576px) {
    .header-container{
        
    }
    .header-menu-section{
        border-bottom: 1px solid #FEA301;
    }
    .brand-name{
        display: none;
    }
    .menu-items{
        display: none;
    }
    .contact-btn{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .fa-solid{
        font-size: 40px;
    }
    marquee{
        font-size: 1rem;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .content-section{
        text-align: center;
        max-width: 100%;
    }
    .banner-image{
        max-width: 100%;
    }
    .banner-heading{
        font-size: 2rem;
    }
    .curriculum-heading > h1{
       font-size: 1.625rem;
    }
    .stories-heading > h1{
        font-size: 1.625rem;
    }
    .curriculum-section{
        flex-direction: column;
    }
    .arrow-section{
        display: none;
    }
    .big-box{
        display: none;
    }
    .content-container{
        padding: 10px;
    }
    .stories-heding{
        font-size: 1rem;
    }
    .banner-desciption{
        font-size: 0.875rem;
    }
    .kids-description{
        font-size: 1rem;
    }
    .kids-education{
        font-size: 2.188rem;
    }
    .image-box-area{
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        box-sizing: border-box;
    }

    .image-box-area{
        max-width: 100%;
        justify-content: center;
    }

    .stories-section{
        padding-bottom: 60px;
    }
    .stories-btn-v2{
        top: -25px;
        padding: 6px 10px 6px 10px;
        font-size: 0.563rem;
    }
    .stories-btn-v3{
        top: -25px;
        padding: 6px 10px 6px 10px;
        font-size: 0.563rem;
    }
    .stories-btn-v4{
        top: -25px;
        padding: 6px 10px 6px 10px;
        font-size: 0.563rem;
    }
    .stories-btn-v5{
        top: -25px;
        padding: 6px 10px 6px 10px;
        font-size: 0.563rem;
    }
    .footer-container{
        flex-direction: column;
        padding: 5px;
        gap: 32px;
        /* margin: 0 auto; */
    }

    .footer-content{
        max-width: 100%;
        padding-top: 65px;
    }
    
    .footer-menu{
        max-width: 100%;
    }
    
    .footer-social-icon{
        max-width: 100%;
    }
    .footer-touch{
        font-size: 1.5rem;
        font-weight: 700;
        text-align: left;
    }
    .icon-container{
        margin-top: 36px;
        margin-bottom: 60px;
    }
    .icon-container img{
        margin: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .big-box{
        display: none;
    }
    }